.content {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.name,
footer {
	margin: 10px auto;
	border: 1px solid #999;
	padding: 10px;
	max-width: 500px;
    max-height: 200px;
	background-color: rgb(68, 93, 167);
	box-shadow: 0 0 30px;
    border-radius: 15px;
}
.name {
    font-size: 10px;
}
#update {
    color:rgb(19, 17, 1)
}
#note {
    color:darkgrey;
    font-size:15px ;
    padding-bottom: 15px;
    padding-top: 0px;
}
img {
    max-width: 150px;
    
}

h2 {
	font-size: 24px;
    text-shadow: 2px 2px #4b4a4a;
	margin: 0;
}
h1,
#signature {
    color: antiquewhite;
}
#list {
    list-style-position: inside;
}
#list nav ul{
    text-align:left;
    margin-left: 6.5rem;
}
