body {
    max-width: 1080px;
    margin: 0 auto;
}
/*header*/
.headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header img {
		width: 100%;
	}

header {
	margin: 0 auto;
    background-color: #104911;
    margin-bottom:10px;
}

#site-logo {
        width:5em;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
	    height: auto;    
}
#site-name{
    display:flex;
    color:antiquewhite;
    font-size: 1.5rem;
    font-family: 'Otomanopee One', sans-serif;
    margin-left:20px;
}

.social img {
    display: inline-flex;
    width: 25px;
    height: auto;
    margin-top: 20px;
    }
.social #fb{
    padding-right: 20px;
}

h1 {
    margin-right: 10rem;
}
nav a{
    
    text-decoration: none ;
    font-size: 10px ;
    font-family: 'Otomanopee One', sans-serif;;
    color:antiquewhite;
    border: 1px solid #ffd449;
    background-color: #257705;
    padding:0;
    
}
nav ul{
    list-style-type:none;
    padding:0;
    margin:0;
    display:none;
    
}
nav button {
    margin:0.2rem 2vw;
    background-color: transparent;
    font-weight:bold;
    color: white;
    border: none;
    font-size: 2rem;
    margin-top: 0.5em;
}
nav ul li a{
    display:block;
    padding:.8rem 2vw;
    text-decoration: none;

}
nav ul li.active a{
    color:#F9A620;
}
nav ul li a:hover{
    color: #F9A620 ;
}
nav ul.open {
    display:block;
    position:fixed;
    top: 70px;
    right:10px;
    width: 30%;
    height: inherit;
    text-align: center;
}
#hamburgerBtn span:nth-child(1) {
    display:block;
}
#hamburgerBtn span:nth-child(2) {
    display:none;
}
#hamburgerBtn.open span:nth-child(1) {
    display:none;
}
#hamburgerBtn.open span:nth-child(2) {
    display:block;
}
.date {
    grid-row:2;
    background-color: #257705;
    padding:10px;
    text-align:center;
    color:antiquewhite;
    font-family: Montserrat,sans-serif;
    margin-left:10px;
    margin-right:10px;
    padding: 0.5rem;
    border-radius: 1rem;
}
/*main*/
main{
    display: grid;
    grid-gap: 10px;
    padding-top: 10px;
}
.container,
.container1,
.container2,
.container3,
.container4,
.container5{
    padding: 80px;
    background-color: #ffd449;
    border: 1px solid #104911;
    margin-left:20px;
    margin-right:20px;
    font-family: Montserrat,sans-serif;
}
.container4{
   display:none;
}
.container5{
    padding:20px;
}
.container5 div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border:#104911;
    border: 1px solid #104911;
    padding:40px;
   
}
.container5 div#spot3{
    display:none;
}
/*footer*/
footer{
    background-color: #104911;
    margin-top: 20px;
    color:antiquewhite;
    display:flex;
    flex-direction: column;
    text-align: center;
}
footer p {
    margin:0px;
}
.location a {
    text-decoration: none;
    color:antiquewhite;
}
#site-logo-footer img {
    margin-top:20px;
    width:7rem;
    height:auto;
    padding-left: 30px;
    margin-right: 30px;
}

#signature-base {
    margin-top: 10px;
    border-top: 1px solid whitesmoke;
    margin-bottom: 30px;
}
.m {
    margin-top: 20px;
 }
#contact{
    margin-top: 20px;
}
#signature-medium {
    display:none;
}
#signature-large{
    display: none;
}