/* Larger viewports */
@media only screen and (min-width: 64rem) {
	body{
		max-width: 1600px;
	}
	header #navigation {
		display:grid;
		grid-template-columns: 1fr;;
	}
	#navigation .social {
		text-align: end;
		grid-row:1;
	}
	headings #site-logo a img {
		margin:0;
		padding-left:0;
	}
	nav ul li a{
		padding: 0.8rem;
		font-size: 14px;
		border:none;
		background-color: transparent;
	}
	nav button{
        display: none;
    }
	nav ul#primaryNav {
        display:flex;
        margin-left: 1vw;
        margin-bottom:0px;
    }
	.banner {
		font-size: 20px;
		font-family: Montserrat,sans-serif;
		z-index:1;
	}
	/*main*/
	main{ 
		display:grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap:10px;
		max-width: 1200px;
		margin: 10px auto
	}
	.event{
		background-image: linear-gradient(white, #ffd449);
		grid-column:1;
		grid-row:1;
		margin-right:0px;
	}
	.weather {
		background-image: linear-gradient(white, #ffd449, #c56317f3 );
		grid-column: 1;
		grid-row:2;
		margin-left:20px;
		margin-right:0px;
	}
	
	.join {
		grid-column: 1;
		grid-row:3;
		margin-right:0px;
		background-image: linear-gradient(white, #c56317f3, #2aa02c);
	}
	.join img{
		width:30%;
	}
	.hero-section {
		grid-column: 2/4;
		grid-row: 1/3;
		margin:0px;
	}
	.release{
		grid-column: 2/4;
		grid-row: 3;
		margin:0px;
		padding:10px;
		border-bottom: 10px solid #0a260b;
		background-image: linear-gradient(white, #c56317f3, #2aa02c);
	}
	.spotlights{
		grid-column: 4;
		grid-row:1/4;
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
        padding: 30px;
		margin-left:0px;
		grid-gap:0px;
		background-image: linear-gradient(white, #c56317f3, #2aa02c);
		
	}
	.spotlights div#spot3{
		display:block;
		grid-row:3;
		
	}
	.spotlights div{
		border:#104911;
    	border: 1px solid #104911;
        padding: 15px;
		margin:0px;	
	}
	.hero-section .hero {
		min-height: 12rem;
    	height: 100%;
	}
	/*discover main*/
	#district{
		margin: 0;
	}
	
	.discover .places{
		margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        max-width: 980px;
        margin-bottom: 30px;
        grid-gap: 20px;
	}
	.discover main section img {
		width:100%;
	}
	discover section #mining{
		position: relative;
		grid-row:3;
	}
	.discover #mining {
		display: none;
	}
	.discover #mining1 {
		display: block;
	}
	/*join page*/
	#join {
        margin:auto;
    }
	
    #join-benefits #bnfts {
		display:grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap:.2rem
	}
	
	/*footer*/
	#signature-large {
		display:block;
		
	}
	#signature-medium {
		display: none;
	}
	.m {
		text-align: center;
		border-top: 1px solid whitesmoke;
		padding: 20px;	
	}
	#contact{
		margin-right: 20px;
		
    }
	.site-name-footer p {
		font-size: 16px;
	}
	/*wireframes*/
	#wf{
		max-width:1200px;
		margin: 0;
		margin-left: 5rem;
	}
 
	.wireframe {
        display:grid;
        grid-template-columns:max-content;

    }
	#small2 {
		grid-column: 1;
		padding-left: 20px;
	}
	#medium2 {
		grid-column: 1;
		padding-left: 20px;
	}
	#wf h4{
		text-align: left;
	}
	#sm{
		display: flex;
		width:80%
	}
	img #sm{
		width:50%
	}
	#md {
		display: flex;
	}
	 /*directory page*/
	 .business-cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
	#busdirectory {
		display: block;
	}
	/*thankyou*/
	#thankyou img{
		width:100%;
	}
	#thankyou{
		grid-template-columns: 1fr;
	}
	/*contact page*/


}