@media only screen and (min-width: 650px){
    body{
        max-width: 960px;
    
    }
    /*header*/
    nav ul.open {
        display:block;
        position:fixed;
        text-align: center;
        top: 4rem;
        left: 30rem;
        height: inherit;
        z-index:1;
    }
    nav ul li a{
		padding:1.2rem 0.5rem;
		font-size: 12px;
	}
    nav button {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    /*#hamburgerBtn span:nth-child(1) {
        margin-right: 40px;
    
    }*/

    #site-logo {
		width:8em;
        padding-left: 10px;
	    height: auto;  
	}
    #site-logo img {
		width:7em; 
	}
    .social a img{
		width: 3em;
	}
    #site-name{
        font-size:1.5rem;
        font-family: 'Otomanopee One', sans-serif;
    }
    .date{
        font-size: 18px;
    }
    .banner {
        font-size: 18px;
    }
    /*main*/
    main{
        max-width: 760px;
    }
    .container,
    .container1 {
        grid-column: 1/4;
    }
    .container5{
        grid-row: 3;
        grid-column: 1/4;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:10px;
    }
    .container5 div{
        padding:8rem;
        
    }
    .container4{
        display: grid;
        grid-row:4;
        grid-column: 1/4;
    }
    
    .container2{
        grid-row:5;
        grid-column: 1/3;
        margin-right:0px;
        
    }
    .container3 {
        grid-row:5;
        margin-left:0px;
    }
    .container3 img {
        width: 35%;
    }
    /*discover page*/
    .discover section {
        grid-template-columns: 1fr 1fr;
        grid-gap:5px;
    }
    .discover #mining{
        display: grid;
        grid-template-columns: fit-content(300px) 1fr;
        grid-template-rows:1fr auto;
        grid-column: 1/span 2;
        margin-top:5px;
    }
    .discover #mining img {
        position: relative;
        float: right;
    }
    /*footer*/
    footer {
        text-align: left;

    }
    #signature-base{
        display:none;
    }
    #signature-medium {
        display:block;
        border-top: 1px solid whitesmoke;
        text-align:center;
    }
    .address-contact {
        justify-content: space-between;
    }
    #site-logo-footer img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left:50px;
        margin-bottom:10px;
        width:30%;
    }
    .site-name-footer p{
        padding-top:20px;
        padding-right:30px;
    }
    .address-contact {
        display:flex;
        padding-right:10px;
    }
    #contact{
        display: flex;
        flex-direction: column;  
    }
}