@media only screen and (min-width: 60em) {

    main{
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
    img {
        max-width: 95%;
    }
    .section3{
        grid-column: 3;
    }
}