table{
    background-color: rgb(223, 222, 222);
    box-shadow: 10px 10px 20px rgb(193, 123, 240);
    border-collapse: collapse;
    letter-spacing: 1px;
    text-align: center;
    font-family:'Ubuntu', sans-serif;;
    margin:10px auto;
}
thead tr:nth-child(1) {
	background-color:rgb(180, 101, 245);
	font-size: 24px;
    font-weight: bold;
}
thead tr:nth-child(2) {
    background-color: blueviolet;
    color: white;
}

th, td, tr{
    
    border: 1px solid rgb(141, 141, 141);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

tr:nth-child(odd) {background-color: #bfa2e1;}

tbody .special-cell {
    background-color: blueviolet; 
    color: white;
}
tbody .it {
    font-style: italic;
}
tfoot{
    font-size: 0.8rem;
}
