@media only screen and (min-width: 32.5em) {
    h1{
    color: rgb(141, 230, 242);
}
.name {
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}
#update {
    color:rgb(173, 163, 12)
}
}
    
